<h1>
	Siste publiserte innlegg i ditt nettverk
	<span class="label label-primary" style="font-size: .3em;">
		Sak {{ pagination * limit }} - {{ pagination * limit + limit }}
	</span>
</h1>
<p class="lead">
    {% if site_type == 'fylke' %}
        Herfra kan du re-publisere nyheter fra dine lokalmønstringer til fylkessiden.
        Før publisering kan du endre overskrift og ingress.
    {% else %}
        Herfra kan du re-publisere nyheter fra hele UKM.no til denne bloggen.
    {% endif %}
</p>
<p class="lead"></p>


<ul>
{% for post in posts %}
	<li class="col-xs-12 col-sm-6 col-md-3">
		<p>
			<b>{{ post.blog_name }}:</b> {{ post.time|date('H:i') }}, {{ post.time|date('d.M') }}
		</p>
		<p>
			<a href="{{ post.uri }}">
				<div class="grid_post_image" style="background-image: url('{{ post.featured_image }}');"></div>
			</a>
		</p>
			
		<p>
			<a href="?page={{ GET('page') }}&action=review&repost_blog={{ post.blog_id }}&repost={{ post.post_id }}" class="btn btn-xs btn-success pull-right">Re-publisér</a>
			<a href="{{ post.uri }}"><b>{{ post.title|raw }}</b></a>
			<br />
			{{ post.lead|raw }}
		</p>
	</li>
	{% if loop.index is divisibleby( 4 )%}
		<li class="clearfix visible-md visible-lg"></li>
	{% endif %}
	{% if loop.index is divisibleby( 2 )%}
		<li class="clearfix visible-sm"></li>
	{% endif %}

{% endfor %}
</ul>

{% if pagination > 0 %}
	<a href="?page={{ GET('page') }}&pagination={{ pagination - 1 }}" class="btn btn-primary">Vis nyere saker</a>
{% endif %}
<a href="?page={{ GET('page') }}&pagination={{ pagination + 1}}" class="btn btn-primary">Vis eldre saker</a>
