<h1>Re-publisere {{ post.title|raw }}</h1>

<div class="pull-left col-xs-12 col-sm-8 ">
	{% if error is defined %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% else %}
		<form action="?page=ukmn_network_posts_admin&doRepost=true" method="POST" class="form">
			<div class="form-group">
				<label>Nytt bilde</label>
				<br />
				<img src="{{ repost_img }}" style="max-width:300px" />
				<br />
				<input name="image" type="hidden" value="{{ image_id }}" />
			</div>
			
			<div class="form-group">
				<label>Overskrift</label>
				<br />
				<input class="form-control" name="title" type="text" value="{{ post.title|raw }}" />
			</div>
	
			<div class="form-group">
				<label>Ingress</label>
				<br />
				<textarea name="lead" class="form-control" type="text">{{ post.lead|raw }}</textarea>
			</div>
	
			<div class="form-group">
				<label>Hvilken side skal saken publiseres?</label>
				<br />
				<select name="blog" class="form-control">
					<option value="1" selected="selected">Forsiden</option>
					<option value="3449" selected="selected">Redaksjonelt</option>
				</select>
			</div>
			
			<div class="form-group">
				<label>
					<input type="radio" name="linkto" value="original" checked="checked" /> Send brukeren til original-innlegget
				</label>
				<br />
				<label>
					<input type="radio" name="linkto" value="target" /> Send brukeren til det nye innlegget
				</label>
			</div>
			
			<div class="form-group">
				<label>URL til original-saken</label>
				<br />
				<input class="form-control" name="url" type="text" value="{{ post.url }}" />
			</div>

			
			<input type="hidden" name="content" value="{{ post.content }}" />

			<br />
			<button class="btn btn-success" type="submit">Opprett kladd</button>
		</form>
	{% endif %}
</div>

<div class="pull-right col-xs-12 col-sm-4">
	<div class="well">
		<p>
			<a href="{{ post.url }}">
				<div class="grid_post_image" style="background-image: url('{{ post.image.medium.src is not empty ? post.image.medium.src : post.image.src }}');"></div>
			</a>
		</p>
			
		<p>
			<a href="{{ post.url }}"><b>{{ post.title|raw }}</b></a>
			<br />
			{{ post.lead|raw }}
		</p>
	</div>
</div>